.u-section-1 .u-image-1 {
  min-height: 618px;
  background-image: url("images/349807674fbd7ae1cec2a9955135f3769c1b57486b6e02f3c4ef35f0ddd2c7f1d600c4a0f07a89184092974dc7e88078775f8ff5ee644b84cf5515_1280.png");
  background-position: 50% 50%;
  margin-left: auto;
  margin-right: auto;
}

.u-section-1 .u-group-1 {
  min-height: 618px;
  margin-top: 0;
  margin-bottom: 0;
  height: auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 4px;
}

.u-section-1 .u-text-1 {
  line-height: 1.8;
  font-size: 1.875rem;
  font-weight: 700;
  text-shadow: -2px 0 8px rgba(255,255,255,1);
  margin: 0 599px 0 311px;
}

.u-section-1 .u-icon-1 {
  color: rgb(17, 17, 17) !important;
}

.u-section-1 .u-image-2 {
  width: 232px;
  height: 232px;
  background-image: url("images/5c5d755e4e0addbf1.png");
  background-position: 50% 50%;
  margin: -56px auto 0 13px;
}

.u-section-1 .u-table-1 {
  width: 763px;
  margin: -176px 45px 0 auto;
}

.u-block-50f8-39 {
  height: 46px;
}

.u-block-50f8-40 {
  padding-top: 10px;
  padding-bottom: 0;
}

.u-block-50f8-41 {
  padding-top: 10px;
  padding-bottom: 0;
}

.u-section-1 .u-table-body-1 {
  font-size: 1.125rem;
  line-height: 0.4;
  font-weight: 700;
  font-family: Cambo;
}

.u-section-1 .u-table-cell-1 {
  font-weight: 700;
  padding-top: 10px;
  padding-bottom: 0;
}

.u-section-1 .u-icon-2 {
  color: rgb(17, 17, 17) !important;
}

.u-section-1 .u-table-cell-2 {
  padding-top: 10px;
  padding-bottom: 0;
  line-height: 1;
  font-size: 1.125rem;
}

.u-section-1 .u-table-cell-3 {
  padding-top: 10px;
  padding-bottom: 0;
}

.u-section-1 .u-icon-3 {
  color: rgb(0, 0, 0) !important;
}

.u-section-1 .u-table-cell-4 {
  padding-top: 10px;
  padding-bottom: 0;
}

.u-section-1 .u-table-cell-5 {
  padding-top: 10px;
  padding-bottom: 0;
}

.u-section-1 .u-icon-4 {
  color: rgb(0, 0, 0) !important;
}

.u-section-1 .u-table-cell-6 {
  padding-top: 10px;
  padding-bottom: 0;
}

.u-section-1 .u-table-cell-7 {
  padding-top: 10px;
  padding-bottom: 0;
}

.u-section-1 .u-icon-5 {
  color: rgb(0, 0, 0) !important;
}

.u-section-1 .u-table-cell-8 {
  padding-top: 10px;
  padding-bottom: 0;
  line-height: 0.6;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-table-cell-9 {
  padding-top: 10px;
  padding-bottom: 0;
}

.u-section-1 .u-icon-6 {
  color: rgb(0, 0, 0) !important;
}

.u-section-1 .u-table-cell-10 {
  padding-top: 10px;
  padding-bottom: 0;
}

.u-block-50f8-63 {
  height: 46px;
}

.u-block-50f8-64 {
  padding-top: 10px;
  padding-bottom: 0;
}

.u-block-50f8-65 {
  padding-top: 10px;
  padding-bottom: 0;
}

.u-section-1 .u-table-2 {
  width: 662px;
  margin: 5px 60px 0 auto;
}

.u-block-50f8-73 {
  height: 46px;
}

.u-section-1 .u-table-body-2 {
  font-family: Cambo;
  font-size: 1.125rem;
  line-height: 0.2;
  font-weight: 700;
}

.u-section-1 .u-table-cell-11 {
  line-height: 1;
}

.u-section-1 .u-table-cell-15 {
  line-height: 1;
}

.u-section-1 .u-table-cell-17 {
  line-height: 1;
}

.u-block-50f8-92 {
  height: 46px;
}

.u-section-1 .u-btn-3 {
  border-style: none;
  text-transform: uppercase;
  font-size: 1.5rem;
  font-family: Abel;
  font-weight: 700;
  background-image: none;
  box-shadow: 0 2px 8px 0 rgba(128,128,128,1);
  margin: -117px auto 0 0;
  padding: 10px 51px;
}

.u-section-1 .u-btn-4 {
  font-family: Abel;
  border-style: none;
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 700;
  background-image: none;
  box-shadow: 0 2px 8px 0 rgba(128,128,128,1);
  margin: 5px auto 0 1px;
  padding: 10px 76px 10px 74px;
}

.u-section-1 .u-btn-5 {
  font-family: Abel;
  border-style: none;
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 700;
  background-image: none;
  box-shadow: 0 2px 8px 0 rgba(128,128,128,1);
  margin: 5px auto 0 0;
  padding: 10px 87px 10px 86px;
}

.u-section-1 .u-text-2 {
  font-family: Cambo;
  font-size: 1.125rem;
  margin: -52px auto 0 337px;
}

.u-section-1 .u-icon-10 {
  color: rgb(0, 0, 0) !important;
}

.u-section-1 .u-text-3 {
  line-height: 1.8;
  font-family: Cambo;
  font-size: 1.125rem;
  margin: 6px 45px 0 359px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-image-1 {
    min-height: 612px;
  }

  .u-section-1 .u-group-1 {
    min-height: 666px;
    height: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 10px;
    margin-right: 441px;
    margin-left: 277px;
  }

  .u-section-1 .u-image-2 {
    margin-top: -66px;
    margin-left: 10px;
  }

  .u-section-1 .u-table-1 {
    width: 639px;
    margin-top: -166px;
    margin-right: 20px;
  }

  .u-section-1 .u-table-2 {
    width: 581px;
    margin-top: 6px;
    margin-right: 20px;
  }

  .u-section-1 .u-btn-3 {
    margin-top: -119px;
    margin-left: 20px;
    padding: 6px 28px;
  }

  .u-section-1 .u-btn-4 {
    margin-top: 15px;
    margin-left: 20px;
    padding: 6px 53px 6px 51px;
  }

  .u-section-1 .u-btn-5 {
    margin-top: 10px;
    margin-left: 20px;
    padding: 6px 64px 6px 63px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-right: 406px;
    margin-left: 294px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: 10px;
    margin-right: 20px;
    margin-left: 323px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-image-1 {
    min-height: 807px;
  }

  .u-section-1 .u-group-1 {
    min-height: 807px;
    margin-bottom: -25px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 59px;
    margin-right: 198px;
    margin-left: 294px;
  }

  .u-section-1 .u-image-2 {
    margin-top: -115px;
  }

  .u-section-1 .u-table-1 {
    width: 463px;
    margin-top: -86px;
    margin-right: 0;
  }

  .u-section-1 .u-table-2 {
    width: 416px;
    margin-top: 0;
    margin-right: 10px;
  }

  .u-section-1 .u-table-body-2 {
    line-height: 1;
  }

  .u-section-1 .u-btn-3 {
    margin-top: -267px;
    margin-left: 30px;
  }

  .u-section-1 .u-btn-4 {
    margin-top: 17px;
    margin-left: 29px;
  }

  .u-section-1 .u-btn-5 {
    margin-top: 15px;
    margin-left: 30px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 79px;
    margin-right: 85px;
    margin-left: 268px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 2px;
    margin-right: 15px;
    margin-left: 294px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-image-1 {
    min-height: 786px;
  }

  .u-section-1 .u-group-1 {
    min-height: 786px;
    margin-bottom: -352px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-bottom: 17px;
  }

  .u-section-1 .u-text-1 {
    width: 243px;
    margin-top: 37px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-icon-1 {
    width: 30px;
    height: 33px;
  }

  .u-section-1 .u-image-2 {
    height: 116px;
    width: 116px;
    margin-top: -76px;
    margin-left: 9px;
  }

  .u-section-1 .u-table-1 {
    width: 383px;
    margin-top: -31px;
    margin-right: 9px;
  }

  .u-section-1 .u-table-body-1 {
    font-size: 1rem;
  }

  .u-section-1 .u-table-2 {
    width: 488px;
    margin-top: 11px;
    margin-right: 0;
  }

  .u-section-1 .u-btn-3 {
    font-size: 1rem;
    margin-top: -333px;
    margin-left: 0;
    padding-right: 15px;
    padding-left: 14px;
  }

  .u-section-1 .u-btn-4 {
    font-size: 1rem;
    margin-top: 18px;
    margin-left: 0;
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-btn-5 {
    font-size: 1rem;
    margin-top: 16px;
    margin-left: 0;
    padding-left: 38px;
    padding-right: 38px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1rem;
    margin-top: 185px;
    margin-right: 250px;
    margin-left: 64px;
  }

  .u-section-1 .u-text-3 {
    font-size: 1rem;
    margin-top: 9px;
    margin-right: 12px;
    margin-left: 64px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-image-1 {
    min-height: 248px;
  }

  .u-section-1 .u-group-1 {
    min-height: 776px;
    margin-bottom: 0;
  }

  .u-section-1 .u-container-layout-1 {
    padding-bottom: 22px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
    margin-top: 38px;
    margin-right: 13px;
    margin-left: 153px;
  }

  .u-section-1 .u-image-2 {
    width: 121px;
    height: 121px;
    margin-top: -83px;
    margin-left: 13px;
  }

  .u-section-1 .u-table-1 {
    margin-top: 38px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-table-body-1 {
    font-size: 0.875rem;
  }

  .u-section-1 .u-table-cell-2 {
    font-size: 0.875rem;
  }

  .u-section-1 .u-table-2 {
    width: 316px;
    margin-top: 0;
  }

  .u-section-1 .u-table-body-2 {
    font-size: 0.875rem;
  }

  .u-section-1 .u-btn-3 {
    font-size: 0.75rem;
    margin-top: -381px;
    margin-left: 2px;
    padding-right: 12px;
    padding-left: 11px;
  }

  .u-section-1 .u-btn-4 {
    font-size: 0.75rem;
    margin-top: -31px;
    margin-left: auto;
    padding-right: 24px;
    padding-left: 22px;
  }

  .u-section-1 .u-btn-5 {
    font-size: 0.75rem;
    margin-top: -31px;
    margin-right: 0;
    margin-left: auto;
    padding-right: 29px;
    padding-left: 28px;
  }

  .u-section-1 .u-text-2 {
    font-size: 0.875rem;
    margin-top: 355px;
    margin-right: 115px;
    margin-left: 13px;
  }

  .u-section-1 .u-text-3 {
    font-size: 0.875rem;
    margin-top: 2px;
    margin-right: 0;
    margin-left: 13px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 661px;
}

.u-section-2 .u-text-1 {
  margin: 45px auto 0;
}

.u-section-2 .u-slider-1 {
  width: 758px;
  min-height: 512px;
  margin: 20px auto 45px;
}

.u-section-2 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-2 .u-image-1 {
  height: 309px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-text-2 {
  margin: 20px auto 0;
}

.u-section-2 .u-text-3 {
  margin: 20px 0 0;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 60px;
}

.u-section-2 .u-image-2 {
  height: 309px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-text-4 {
  margin: 20px auto 0;
}

.u-section-2 .u-text-5 {
  margin: 20px 0 0;
}

.u-section-2 .u-carousel-control-1 {
  width: 38px;
  height: 38px;
  background-image: none;
  left: 0;
  position: absolute;
  right: auto;
}

.u-section-2 .u-carousel-control-2 {
  width: 38px;
  height: 38px;
  background-image: none;
  left: auto;
  position: absolute;
  right: 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 662px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 66px;
  }

  .u-section-2 .u-slider-1 {
    margin-top: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    margin-top: 40px;
  }

  .u-section-2 .u-slider-1 {
    width: 720px;
    margin-top: 26px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 50px;
    padding-right: 50px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-slider-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 579px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 30px;
  }

  .u-section-2 .u-slider-1 {
    margin-bottom: 18px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-image-1 {
    height: 190px;
  }

  .u-section-2 .u-image-2 {
    height: 190px;
  }
}